{% extends 'main/base.html' %}

{% block content %}

<div class="card shadow-sm border-0 p-5">

    <h1 class="mb-4">
        About BridgeBuddy 🌍
    </h1>

    <p class="lead">
        BridgeBuddy is a web platform designed to help
        international and Erasmus students adapt more
        easily to life in Türkiye.
    </p>

    <p>
        Many students face language barriers,
        transportation confusion, accommodation issues,
        healthcare communication problems,
        and difficulty understanding local systems.
    </p>

    <p>
        This platform provides:
    </p>

    <ul>

        <li>Survival Guides</li>

        <li>Community Support</li>

        <li>Essential Turkish Phrases</li>

        <li>Student Discussions</li>

        <li>Daily Life Assistance</li>

    </ul>

</div>

{% endblock %}