{% extends 'main/base.html' %}

{% block content %}

<div class="text-center mb-5">

    <h1 class="display-4 fw-bold">
        Platform Dashboard 📊
    </h1>

    <p class="lead">
        Overview of BridgeBuddy platform activity.
    </p>

</div>

<div class="row">

    <div class="col-md-4 mb-4">

        <div class="card shadow-sm border-0 rounded-4 text-center p-5">

            <h1 class="display-3">
                {{ guides_count }}
            </h1>

            <h4 class="mt-3">
                Guides
            </h4>

        </div>

    </div>

    <div class="col-md-4 mb-4">

        <div class="card shadow-sm border-0 rounded-4 text-center p-5">

            <h1 class="display-3">
                {{ posts_count }}
            </h1>

            <h4 class="mt-3">
                Community Posts
            </h4>

        </div>

    </div>

    <div class="col-md-4 mb-4">

        <div class="card shadow-sm border-0 rounded-4 text-center p-5">

            <h1 class="display-3">
                {{ phrases_count }}
            </h1>

            <h4 class="mt-3">
                Turkish Phrases
            </h4>

        </div>

    </div>

</div>

{% endblock %}