{% extends 'main/base.html' %}

{% block content %}

<h1 class="mb-4">
    Survival Guides 📘
</h1>

<!-- Search -->
<form method="GET" class="mb-4">

    <div class="row">

        <div class="col-md-6">

            <input type="text"
                   name="q"
                   class="form-control"
                   placeholder="Search guides...">

        </div>

        <div class="col-md-4">

            <select name="category" class="form-select">

                <option value="">
                    All Categories
                </option>

                {% for category in categories %}

                <option value="{{ category }}">
                    {{ category }}
                </option>

                {% endfor %}

            </select>

        </div>

        <div class="col-md-2">

            <button class="btn btn-dark w-100">
                Search
            </button>

        </div>

    </div>

</form>

<div class="row">

    {% for guide in guides %}

    <div class="col-md-6 mb-4">

        <div class="card shadow-sm border-0 h-100">

            <div class="card-body">

                <h3>
                    {{ guide.title }}
                </h3>

                <span class="badge bg-primary mb-3">
                    {{ guide.category }}
                </span>

                <p>
                    {{ guide.description }}
                </p>

            </div>

        </div>

    </div>

    {% endfor %}

</div>

{% endblock %}